@charset "UTF-8";

body{
    margin: 0px;
    background-color: #1889b0;
    position: relative;
    font-family: 'TsukuARdGothic-Regular' , 'Hiragino Maru Gothic ProN' , sans-serif;
}

/*〜〜ナビゲーション〜〜*/

nav{
    width: 100vw;
    height: 80px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.048);
    position: fixed;
    top: -300px;
    z-index: 1;
    transition: 0.3s;
}

nav.nav1{
    position: fixed;
    top: 0px;
}

nav ul{
    height: 80px;
    margin: 0px;
    display: flex;
    position: absolute;
    top: 0px;
    width: 100vw;
    padding: 0;
}

nav li{
    list-style: none;
    flex: 1;
    text-align: center;
    opacity: 0.8;
    transition: 0.2s;
    position: relative;
}

nav li:hover{
    transform: scale(1.25);
    opacity: 1;
}

nav img{
    height: 65px;
}

.n1 , .n2 , .n3 , .n4 , .n0{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.n4{
    height: 60px;
    position: absolute;
    top: 7px;
}

.list1_text,
.list2_text,
.list3_text,
.list4_text{
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    color: white;
    opacity: 0;
    text-decoration: underline solid #f8ce9e;
    transition: 0.3s;

}

.list_stregs:hover .list1_text{
    opacity: 1;
}

.list_stregs:hover .n1{
    opacity: 0;
}

.list_service:hover .list2_text{
    opacity: 1;
}

.list_service:hover .n2{
    opacity: 0;
}

.list_gallary:hover .list3_text{
    opacity: 1;
}

.list_gallary:hover .n3{
    opacity: 0;
}

.list_contact:hover .list4_text{
    opacity: 1;
}

.list_contact:hover .n4{
    opacity: 0;
}

.list1{
    opacity: 1;
    animation: list1_an 1s infinite;
    transform: scale(1.3);
    transition: 0.2s;
}

@keyframes list1_an{
    50%{
        opacity: 0;
    }
}

.list2{
    opacity: 1;
    animation: list2_an 1s infinite;
    transform: scale(1.3);
    transition: 0.2s;
}

@keyframes list2_an{
    50%{
        opacity: 0;
    }
}

.list3{
    opacity: 1;
    animation: list3_an 1s infinite;
    transform: scale(1.3);
    transition: 0.2s;
}

@keyframes list3_an{
    50%{
        opacity: 0;
    }
}

.list4{
    opacity: 1;
    animation: list4_an 1s infinite;
    transform: scale(1.3);
    transition: 0.2s;
}

@keyframes list4_an{
    50%{
        opacity: 0;
    }
}



/*〜〜ヘッダー〜〜*/

header{
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 20vh;
}

header h1{
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    font-size: 120px;
    z-index: 1;
    animation: header_h1 6s;
}

@keyframes header_h1{
    0%{
        opacity: 0;
        transform: translate(-50% , -30%)
    }

    20%{
        opacity: 0;
        transform: translate(-50% , -30%)
    }

    40%{
        opacity: 0;
        transform: translate(-50% , -40%)
    }
}

header .image_h{
    display: flex;
    position: absolute;
    top: 50%;
    left: -240%;
    transform: translate( 0 , -55%);
    animation: imageloop 30s  linear infinite;
}

@keyframes imageloop{
    0%{
        left:0%
    }
}

.image_h img{
    padding: 0px 30px;
    width: calc(100vw / 3);
}

.mark div{
    text-align: center;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 80px;
    animation: mark 8s;
}

.mark p{
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 40px;
    animation: mark 8s;
}

@keyframes mark{
    0%{
        opacity: 0;
    }

    70%{
        opacity: 0;
    }
}

.mark{
    transition: 0.5s;
}

.mark1{
    opacity: 0;
}


/*〜〜コンセプト〜〜*/

.concept{
    height: 40vh;
    transform: translateY(20px);
    opacity: 0;
    transition: 2s;
}

.concept.concept1{
    transform: translateY(0px);
    opacity: 1;
}

.concept h1{
    line-height: 40vh;
    text-align: center;
    font-size: 35px;
    color: white;
    text-decoration: underline solid #f8ce9e;
}


/*〜〜3つの特徴〜〜*/

.stregs{
    margin-top: 30vh;
    height: 80vh;
    position: relative;
    opacity: 0;
    transition: 2s;
}

.stregs.stregs1{
    opacity: 1;
}

.cover{
    display: flex;
    height: 30vw;
    width: calc(100vw - 16px);
    margin: 0px 8px;
    position: absolute;
    top: 0px;
}

.cover .d1 , .d2 , .d3{
    flex: 1;
    margin: 0px 8px;
    height: 30vw;
    opacity: 0;
}

.d4 , .d5 , .d6{
    animation: cover 4s;
}

@keyframes cover{
    0%{
        opacity: 1;
        background-color: rgb(255, 255, 255);
        transform: translateX(0);
    }

    10%{
        opacity: 1;
        background-color: white;
        transform: translateX(0);
    }


    85%{
        opacity: 1;
        background-color: white;
        transform: translateX( 100vw);
    }


    87%{
        opacity: 0;
    }
}

.stregs .image_s{
    display: flex;
    margin: 0px 8px;
}

.image_s img{
    height: 30vw;
    width: calc((100vw - 64px) /3);
    margin: 0px 8px;
}

.stregs .text_h{
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: 1.5s;
}

.text_h.text_h1{
    opacity: 1;
    transform: translateY(0px);
}

.text_h .text{
    display: flex;
    width: 100vw;
    position: absolute;
    top: -20px;
}

.text h3{
    text-align: center;
    font-size: 30px;
    color: white;
    white-space: nowrap;
}

.text .t1{
    margin: 0px 0px 0px 6vw;
    background-color:  #1889b0;
    border-radius: 15px;
    width: 130px;
    text-decoration: underline solid #f8ce9e;
}

.text .t2{
    margin: 0px 0 0px 24.5vw;
    background-color:  #1889b0;
    border-radius: 15px;
    width: 220px;
    text-decoration: underline solid #f8ce9e;
}

.text .t3{
    margin: 0px 13vw 0px 18.5vw;
    background-color:  #1889b0;
    border-radius: 15px;
    width: 130px;
    text-decoration: underline solid #f8ce9e;
}

.stregs .text_p{
    display: flex;
}

.text_p p{
    flex: 1;
    padding: 4% 0px;
    text-align: center;
    margin: 0px 50px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    color:  #1889b0;
    font-size: 18px;
}

.text_p p:hover{
    box-shadow: 20px 20px 20px rgb(34, 34, 34);
    transform: translatey(-20px);
    background-color: #f8ce9e;
}


/*〜〜サービス〜〜*/



.service_cover{
    margin: 50vh 150px 0 150px;
    height: 90vh;
    border-radius: 20px;
    transition: 0.5s;
}

.service_cover:hover{
    transform: scale(1.1);
}


.service{
    height: 90vh;
    background-color: white;
    border-radius: 20px;
    position: relative;
    opacity: 0;
    transition: 1.5s;
}

.service.service1{
    opacity: 1;
}

.service .image_se{
    display: flex;
    margin-bottom: 3vh;
}

.image_se .si1{
    flex: 1;
    text-align: center;
}

.image_se img{
    width: calc((100vw - 500px) / 3);
}

.service .text_se{
    display: flex;
}

.text_se h3{
    margin: 0px;
    flex: 1;
    text-align: center;
    font-size: 26px;
    color:  #1889b0;
    text-decoration: underline solid #f8ce9e;
}

.service .text_border{
    display: flex;
    padding: 10px;
}

.text_border p{
    flex: 1;
    text-align: center;
    font-size: 17px;
    color:  #1889b0;
    border: solid  2px  #1889b0;
    border-radius: 20px;
    padding:20px;
    margin: 20px 25px 0px 25px;
}




/*〜〜写真〜〜*/

.gallary{
    margin-top: 10vh;
    height: 230vh;
    position: relative;
    overflow: hidden;
}

.cover_g1{
    display: flex;
    position: absolute;
    top: 40vh;
}

.cover_g2{
    display: flex;
    position: absolute;
    top: calc(40.6vw + 40vh);
    left: calc(30vw - 100px);
}


.im1 , .im2 , .im3 , .im4{
    width: 25vw;
    height: 35vw;
    background-color: rgba(255, 255, 255, 0.11);
    text-indent: -700%;
    white-space: nowrap;
    position: relative;
    transition: 0.3s;
}

.im1 , .im3{
    margin-right: 10vw;
}

.im1{
    margin-left: 100px;
}

.gallary p{
    overflow: hidden;
    margin: 0px;
    color: #1889b0;
    font-size: 25px;
    text-align: center;
    line-height: 35vw;
}


.im1 input,
.im2 input,
.im3 input,
.im4 input{
    position: absolute;
    top: 0;
    left: -1000px;
}

.im1 .open1,
.im2 .open2,
.im3 .open3,
.im4 .open4{
    overflow: hidden;
    font-size: 20px;
    color: #1889b0;
    text-decoration: underline solid #f8ce9e;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.im1 .im1_more,
.im3 .im3_more{
    width: calc(100vw - 200px);
    height: 35vw;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: relative;
    position: absolute;
    top: 0;
    left: -200vw;
    transition: 0.3s;
    z-index: 1;
    text-indent: 0%;
}

.im2 .im2_more,
.im4 .im4_more{
    width: calc(100vw - 200px);
    height: 35vw;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: relative;
    position: absolute;
    top: 0;
    left: 300vw;
    transition: 0.3s;
    z-index: 1;
    text-indent: 0%;
}

.im1_more .more_image1,
.im2_more .more_image2,
.im3_more .more_image3,
.im4_more .more_image4{
    display: flex;
}


.im1_more .close1,
.im2_more .close2,
.im3_more .close3,
.im4_more .close4{
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 20px;
}

.im1 .black1,
.im2 .black2,
.im3 .black3,
.im4 .black4{
    transition: 0.3s;
}

input[type="checkbox"]:checked ~ .im1_more{
    left: 0vw;
}

input[type="checkbox"]:checked ~ .im2_more{
    left: -35vw;
}

input[type="checkbox"]:checked ~ .im3_more{
    left:calc(-30vw + 200px);
}

input[type="checkbox"]:checked ~ .im4_more{
    left:calc(-65vw + 200px);
}

input[type="checkbox"]:checked ~ .black1{
    position: absolute;
    top: -40vh;
    left: -100px;
    width: 100vw;
    height: 250vh;
    margin: 0px;
    background-color: rgba(39, 39, 39, 0.836);
}

input[type="checkbox"]:checked ~ .black2{
    position: absolute;
    top: -40vh;
    left: calc(-35vw + -100px);
    width: 100vw;
    height: 250vh;
    margin: 0px;
    background-color: rgba(39, 39, 39, 0.836);
}

input[type="checkbox"]:checked ~ .black3{
    position: absolute;
    top: -100vh;
    left:calc(-30vw + 100px);
    width: 100vw;
    height: 250vh;
    margin: 0px;
    background-color: rgba(39, 39, 39, 0.836);
}

input[type="checkbox"]:checked ~ .black4{
    position: absolute;
    top: -100vh;
    left:calc(-65vw + 100px);
    width: 100vw;
    height: 250vh;
    margin: 0px;
    background-color: rgba(39, 39, 39, 0.836);
}

.im1:hover{
    margin-right: 0;
    width: 35vw;
    text-indent: 0%;
    background-color: rgba(255, 255, 255, 0.733);
}
.im2:hover{
    width: 35vw;
    text-indent: 0%;
    background-color: rgba(255, 255, 255, 0.733);
}

.im3:hover{
    margin-right: 0;
    width: 35vw;
    text-indent: 0%;
    background-color: rgba(255, 255, 255, 0.733);
}

.im4:hover{
    width: 35vw;
    text-indent: 0%;
    background-color:  rgba(255, 255, 255, 0.733);
}


.gallary .image_g1{
    display: flex;
    margin-top: 40vh;
    margin-bottom: 5vw;
    margin-left: 100px;
    width: calc(100vw - 200px);
}

.gallary .image_g2{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.gallary img{
    width: 35vw;
}


footer{
    background-color: rgb(39, 39, 39);
    height: 60vh;
}

footer .image_f{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.image_f img{
    width: 10vw;
}

footer h4{
    color: white;
    text-align: center;
    margin: 0;
}

footer p{
    color: white;
    text-align: center;
    margin: 0;
}



@media (max-width: 1163px){
    .text_se h3{
        margin-top: 10px;
        flex: 1;
        text-align: center;
        font-size: 24px;
        color:  #1889b0;
        text-decoration: underline solid #f8ce9e;
    }
    
    .text_border p{
        flex: 1;
        text-align: center;
        font-size: 14px;
        color:  #1889b0;
        border: solid  2px  #1889b0;
        border-radius: 20px;
        padding:20px;
        margin: 30px 25px 0px 25px;
    }
    

}

@media (max-width: 1000px){
    header h1{
        margin: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        color: white;
        font-size: 110px;
        z-index: 1;
        animation: header_h1 8s;
    }

    .mark div{
        text-align: center;
        text-align: center;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 75px;
        animation: mark 8s;
    }
    
    .mark p{
        margin: 0;
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 35px;
        animation: mark 8s;
    }

    .concept h1{
        line-height: 40vh;
        text-align: center;
        font-size: 30px;
        color: white;
        text-decoration: underline solid #f8ce9e;
    }

    .text h3{
        text-align: center;
        font-size: 25px;
        color: white;
        white-space: nowrap;
    }

    .text_p p{
        flex: 1;
        padding: 4% 0px;
        text-align: center;
        margin: 0px 50px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        transition: 0.2s;
        color:  #1889b0;
        font-size: 14px;
    }

    .service_cover{
        margin: 40vh 0 0 0;
        height: 90vh;
        border-radius: 0px;
        transition: 0.5s;
    }
    
    .service_cover:hover{
        transform: scale(1);
    }

    .service{
        height: 90vh;
        background-color: white;
        border-radius: 0px;
        position: relative;
        opacity: 0;
        transition: 2s;
    }

    .text_border p{
        flex: 1;
        text-align: center;
        font-size: 17px;
        color:  #1889b0;
        border: solid  2px  #1889b0;
        border-radius: 20px;
        padding:20px;
        margin: 10px 25px 0px 25px;
    }

    .image_se img{
        width: calc((100vw - 200px) / 3);
    }
    
}



@media (max-width: 805px){
    header h1{
        margin: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        color: white;
        font-size: 100px;
        z-index: 1;
        animation: header_h1 8s;
    }

    .mark div{
        text-align: center;
        text-align: center;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 70px;
        animation: mark 8s;
    }
    
    .mark p{
        margin: 0;
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 30px;
        animation: mark 8s;
    }
    
    .concept h1{
        line-height: 40vh;
        text-align: center;
        font-size: 25px;
        color: white;
        text-decoration: underline solid #f8ce9e;
    }

    .stregs{
        margin-top: 30vh;
        height: 60vh;
        position: relative;
        opacity: 0;
        transition: 2s;
    }
    
    .text h3{
        text-align: center;
        font-size: 22px;
        color: white;
        white-space: nowrap;
    }

    .text_p p{
        flex: 1;
        padding: 4% 0px;
        text-align: center;
        margin: 0px 20px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        transition: 0.2s;
        color:  #1889b0;
        font-size: 14px;
    }

    .service_cover{
        margin: 40vh 0 0 0;
        height: 90vh;
        border-radius: 0px;
        transition: 0.5s;
    }

    .service{
        height: 80vh;
        background-color: white;
        border-radius: 0px;
        position: relative;
        opacity: 0;
        transition: 2s;
    }

    .text_se h3{
        margin: 0px;
        flex: 1;
        text-align: center;
        font-size: 22px;
        color:  #1889b0;
        text-decoration: underline solid #f8ce9e;
    }
    
    .text_border p{
        flex: 1;
        text-align: center;
        font-size: 14px;
        color:  #1889b0;
        border: solid  2px  #1889b0;
        border-radius: 20px;
        padding:20px;
        margin: 10px
    }

    .gallary{
        margin-top: 0;
        height: 200vh;
        position: relative;
        overflow: hidden;
    }

    .cover_g2{
        display: flex;
        position: absolute;
        top: calc( 60.8vw + 40vh);
        left: 0;
    }

    .im1 , .im2 , .im3 , .im4{
        width: calc((100vw / 2) - 15vw);
        height: calc((100vw / 2) + 0.7vw);
        background-color: rgba(255, 255, 255, 0.11);
        text-indent: -700%;
        white-space: nowrap;
        position: relative;
        transition: 0.3s;
    }

    .im1 , .im3{
        margin-right: 15vw;
    }

    .gallary p{
        overflow: hidden;
        margin: 0px;
        color: #1889b0;
        font-size: 22px;
        text-align: center;
        line-height: calc((100vw / 2) + 0.7vw);
    }

    .im1 .open1,
    .im2 .open2,
    .im3 .open3,
    .im4 .open4{
    overflow: hidden;
    font-size: 18px;
    color: #1889b0;
    text-decoration: underline solid #f8ce9e;
    position: absolute;
    bottom: 30px;
    right: 30px;
    }

    .im1_more .close1,
    .im2_more .close2,
    .im3_more .close3,
    .im4_more .close4{
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 15px;
    }

    .im1{
        margin-left: 0px;
    }

    .im1:hover{
        margin-right: 0;
        width: calc(100vw / 2);
        text-indent: 0%;
        background-color: rgba(255, 255, 255, 0.733);
    }
    .im2:hover{
        width: calc(100vw / 2);
        text-indent: 0%;
        background-color: rgba(255, 255, 255, 0.733);
    }
    
    .im3:hover{
        margin-right: 0;
        width: calc(100vw / 2);
        text-indent: 0%;
        background-color: rgba(255, 255, 255, 0.733);
    }
    
    .im4:hover{
        width: calc(100vw / 2);
        text-indent: 0%;
        background-color:  rgba(255, 255, 255, 0.733);
    }

    .im1 .im1_more,
    .im3 .im3_more{
    width: 100vw;
    height: calc((100vw / 2) + 0.7vw);
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: relative;
    position: absolute;
    top: 0;
    left: -200vw;
    transition: 0.3s;
    z-index: 1;
    text-indent: 0%;
    }

    .im2 .im2_more,
    .im4 .im4_more{
    width: 100vw;
    height: calc((100vw / 2) + 0.7vw);
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: relative;
    position: absolute;
    top: 0;
    left: 300vw;
    transition: 0.3s;
    z-index: 1;
    text-indent: 0%;
    } 

    input[type="checkbox"]:checked ~ .im1_more{
        left: 0px;
    }
    
    input[type="checkbox"]:checked ~ .im2_more{
        left: calc(-100vw / 2);
    }
    
    input[type="checkbox"]:checked ~ .im3_more{
        left: 0px;
    }
    
    input[type="checkbox"]:checked ~ .im4_more{
        left: calc(-100vw / 2);
    }

    input[type="checkbox"]:checked ~ .black1{
        position: absolute;
        top: -40vh;
        left: 0px;
        width: 100vw;
        height: 250vh;
        margin: 0px;
        background-color: rgba(39, 39, 39, 0.836);
    }
    
    input[type="checkbox"]:checked ~ .black2{
        position: absolute;
        top: -40vh;
        left: calc(-100vw / 2);
        width: 100vw;
        height: 250vh;
        margin: 0px;
        background-color: rgba(39, 39, 39, 0.836);
    }
    
    input[type="checkbox"]:checked ~ .black3{
        position: absolute;
        top: -100vh;
        left: 0;
        width: 100vw;
        height: 250vh;
        margin: 0px;
        background-color: rgba(39, 39, 39, 0.836);
    }
    
    input[type="checkbox"]:checked ~ .black4{
        position: absolute;
        top: -100vh;
        left: calc(-100vw / 2);
        width: 100vw;
        height: 250vh;
        margin: 0px;
        background-color: rgba(39, 39, 39, 0.836);
    }

    .gallary .image_g1{
        display: flex;
        margin-top: 40vh;
        margin-bottom: 10vw;
        margin-left: 0px;
        width: 100vw;
    }

    .gallary .image_g2{
        display: flex;
        justify-content: flex-start;
        margin-right: 0px;
    }

    .gallary img{
        width: calc(100vw / 2);
    }

    footer{
        background-color: rgb(39, 39, 39);
        height: 50vh;
    }
}



@media (max-width: 600px){
    nav{
        display: none;
    }

    header{
        height: 100vh;
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
    }

    header h1{
        margin: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        color: white;
        font-size: 60px;
        z-index: 1;
        animation: header_h1 8s;
    }

    .mark div{
        text-align: center;
        text-align: center;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 65px;
        animation: mark 8s;
    }
    
    .mark p{
        margin: 0;
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 25px;
        animation: mark 8s;
    }
    
     .image_h img{
        padding: 0px 30px;
        max-width: 33%;
        height: 33%;
    }

    .concept h1{
        line-height: 40vh;
        text-align: center;
        font-size: 15px;
        color: white;
        text-decoration: underline solid #f8ce9e;
    }

    .stregs{
        margin-top: 20vh;
        height: 30vh;
        position: relative;
        opacity: 0;
        transition: 2s;
    }

    .d4 , .d5 , .d6{
        animation: cover 3s;
    }

    .text_h .text{
        display: flex;
        width: 100vw;
        position: absolute;
        top: -15px;
    }
    
    .text h3{
        text-align: center;
        font-size: 13px;
        color: white;
        white-space: nowrap;
    }
    
    .text .t1{
        margin: 0px 0px 0px 13vw;
        background-color:  #1889b0;
        border-radius: 15px;
        width: 130px;
        text-decoration: underline solid #f8ce9e;
    }
    
    .text .t2{
        margin: 0px 0 0px 19vw;
        background-color:  #1889b0;
        border-radius: 15px;
        width: 220px;
        text-decoration: underline solid #f8ce9e;
    }
    
    .text .t3{
        margin: 0px 13vw 0px 15vw;
        background-color:  #1889b0;
        border-radius: 15px;
        width: 130px;
        text-decoration: underline solid #f8ce9e;
    }
   
    .text_p p{
        flex: 1;
        padding-top: 10px;
        text-align: center;
        margin: 0px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        transition: 0.2s;
        color:  #1889b0;
        font-size: 8px;
    }

    .service_cover{
        margin: 30vh 0 0 0;
        height: 50vh;
        border-radius: 0px;
        transition: 0.5s;
    }

    .service{
        height: 60vh;
        background-color: white;
        border-radius: 0px;
        position: relative;
        opacity: 0;
        transition: 2s;
    }
    
    .image_se img{
        width: calc(100vw / 3);
    }
    
    .text_se h3{
        margin: 0px;
        flex: 1;
        text-align: center;
        font-size: 11px;
        color:  #1889b0;
        text-decoration: underline solid #f8ce9e;
    }
    
    .service .text_border{
        display: flex;
        padding: 0px;
    }
    
    .text_border p{
        flex: 1;
        font-size: 8px;
        color:  #1889b0;
        border: solid  2px  #1889b0;
        border-radius: 20px;
        padding: 5px;
        margin: 25px 5px 0px 5px;
    }  

    .gallary{
    margin-top: 0;
    height: 115vh;
    position: relative;
    overflow: hidden;
    }

    .cover_g1{
        display: flex;
        position: absolute;
        top: 30vh;
    }

    .cover_g2{
        display: flex;
        position: absolute;
        top: calc( 60.8vw + 30vh);
        left: 0;
    }

    .gallary .image_g1{
        display: flex;
        margin-top: 30vh;
        margin-bottom: 10vw;
        margin-left: 0px;
        width: 100vw;
    }

    .gallary p{
        overflow: hidden;
        margin: 0px;
        color: #1889b0;
        font-size: 10px;
        text-align: center;
        line-height: calc((100vw / 2) + 0.7vw);
    }

    .im1 .open1,
    .im2 .open2,
    .im3 .open3,
    .im4 .open4{
    overflow: hidden;
    font-size: 10px;
    color: #1889b0;
    text-decoration: underline solid #f8ce9e;
    position: absolute;
    bottom: 20px;
    right: 20px;
    }

    .im1_more .close1,
    .im2_more .close2,
    .im3_more .close3,
    .im4_more .close4{
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 10px;
    }

    footer{
        background-color: rgb(39, 39, 39);
        height: 40vh;
    }

    .image_f img{
        width: 10%;
        height: 10%;
    }
}



